*{
    margin: 0px;
    padding: 0;
}
body{
    font-family: fantasy;
    background-color: rgb(187, 6, 66);
    position: relative;
    min-height: 100vh;
}

header{
    background-color: burlywood;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav li{
    display: inline;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: rgb(222, 46, 46);
    font-weight: bold;
}
.Productos{
    padding: 20px;
    text-align: center;
}

.Producto{
    display: inline-block;
    margin: 20px;
}

.Producto img{
    width: 200px;
    border-radius: 9%;
    transition-duration: 1000ms;
}

.Producto img:hover{
    width: 250px;
}


.Nosotros{
    background-color: rgb(30, 141, 151);
    padding: 20px;
    text-align: center;
}

footer{
    background-color: coral;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
